
# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.safetensors
*.ipynb_checkpoints/

# Data
*.csv
*.tsv
*.ndjson
*.cache
*.log

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Docker
**/logs/
**/tmp/

# System
.DS_Store
Thumbs.db

# Secrets
.env
.env.*

# Model files
app/camembert_fakenews_model/
!app/camembert_fakenews_model/config.json
!app/camembert_fakenews_model/tokenizer_config.json
!app/camembert_fakenews_model/special_tokens_map.json
!app/camembert_fakenews_model/tokenizer.json
!app/camembert_fakenews_model/sentencepiece.bpe.model


# Données / modèles (gros fichiers)
data/
*.csv
*.ndjson
*.zip
*.safetensors
*.pt
*.onnx
*zip
model.pkl
camembert_fakenews_model*/
app/camembert_fakenews_model*/

# Secrets
.env
*.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


# Docker ELK caches/volumes (si présents)
docker-elk/elasticsearch/data/
docker-elk/elasticsearch/nodes/
docker-elk/logstash/logs/
docker-elk/kibana/optimize/